language: c

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
install:
  - ./travis-tool.sh r_binary_install data.table
  - ./travis-tool.sh r_binary_install digest
  - ./travis-tool.sh r_binary_install testthat
  - ./travis-tool.sh install_deps

script: ./travis-tool.sh run_tests

on_failure:
  - ./travis-tool.sh dump_logs

notifications:
  email:
    recipients:
    - rhafen@gmail.com
    on_success: change
    on_failure: change