language: r

r_binary_packages:
 - data.table
 - digest
 - hexbin
 - magrittr
 - dplyr
 - testthat
 - roxygen2
 - testthat

env: _R_CHECK_FORCE_SUGGESTS_=FALSE

branches:
 only:
  - master
  - dev

notifications:
 email:
  recipients:
   - rhafen@gmail.com
   on_success: change
   on_failure: change
