
language: r
sudo: false
cache: packages

env:
  global:
    - _R_CHECK_FORCE_SUGGESTS_=FALSE


before_install:
  - cd $HOME
  - wget https://github.com/google/protobuf/releases/download/v2.5.0/protobuf-2.5.0.tar.gz
  - tar -zxvf protobuf-2.5.0.tar.gz
  - ls
  - cd protobuf-2.5.0
  - ls
  - echo $HOME/protobuf
  - ./configure --prefix=$HOME/protobuf
  - make
  - make check
  - make install
  - cd ../
  - ls
  - cd schloerke/datadr


branches:
  only:
    - master
    - dev
    - travis

notifications:
  email:
    recipients:
    - schloerke@gmail.com
    on_success: change
    on_failure: change
