S3method("[",kvHDFS)
S3method("[",kvLocalDisk)
S3method("[",kvMemory)
S3method("[",kvSparkData)
S3method("[[",kvHDFS)
S3method("[[",kvLocalDisk)
S3method("[[",kvMemory)
S3method("[[",kvSparkData)
S3method(addData,hdfsConn)
S3method(addData,localDiskConn)
S3method(as.data.frame,ddf)
S3method(as.list,ddo)
S3method(convert,kvHDFS)
S3method(convert,kvLocalDisk)
S3method(convert,kvMemory)
S3method(convert,kvSparkData)
S3method(convertImplemented,kvHDFS)
S3method(convertImplemented,kvLocalDisk)
S3method(convertImplemented,kvMemory)
S3method(convertImplemented,kvSparkData)
S3method(convertKvHDFS,"NULL")
S3method(convertKvHDFS,hdfsConn)
S3method(convertKvHDFS,localDiskConn)
S3method(convertKvLocalDisk,"NULL")
S3method(convertKvLocalDisk,hdfsConn)
S3method(convertKvLocalDisk,localDiskConn)
S3method(convertKvMemory,"NULL")
S3method(convertKvMemory,hdfsConn)
S3method(convertKvMemory,localDiskConn)
S3method(convertkvSparkData,"NULL")
S3method(convertkvSparkData,sparkDataConn)
S3method(ddoInit,data.frame)
S3method(ddoInit,hdfsConn)
S3method(ddoInit,list)
S3method(ddoInit,localDiskConn)
S3method(ddoInit,nullConn)
S3method(ddoInit,sparkDataConn)
S3method(ddoInitConn,data.frame)
S3method(ddoInitConn,hdfsConn)
S3method(ddoInitConn,list)
S3method(ddoInitConn,localDiskConn)
S3method(ddoInitConn,nullConn)
S3method(ddoInitConn,sparkDataConn)
S3method(defaultControl,kvHDFS)
S3method(defaultControl,kvLocalDisk)
S3method(defaultControl,kvMemory)
S3method(defaultControl,kvSparkData)
S3method(getBasicDdfAttrs,kvHDFS)
S3method(getBasicDdfAttrs,kvLocalDisk)
S3method(getBasicDdfAttrs,kvMemory)
S3method(getBasicDdfAttrs,kvSparkData)
S3method(getBasicDdoAttrs,kvHDFS)
S3method(getBasicDdoAttrs,kvLocalDisk)
S3method(getBasicDdoAttrs,kvMemory)
S3method(getBasicDdoAttrs,kvSparkData)
S3method(getCuts,condDiv)
S3method(getCuts,rrDiv)
S3method(hasExtractableKV,kvHDFS)
S3method(hasExtractableKV,kvLocalDisk)
S3method(hasExtractableKV,kvMemory)
S3method(hasExtractableKV,kvSparkData)
S3method(length,ddo)
S3method(loadAttrs,hdfsConn)
S3method(loadAttrs,localDiskConn)
S3method(loadAttrs,nullConn)
S3method(loadAttrs,sparkDataConn)
S3method(mrExecInternal,kvHDFSList)
S3method(mrExecInternal,kvLocalDiskList)
S3method(mrExecInternal,kvMemoryList)
S3method(mrExecInternal,kvSparkDataList)
S3method(names,ddf)
S3method(print,ddfSummary)
S3method(print,ddo)
S3method(print,hdfsConn)
S3method(print,localDiskConn)
S3method(print,nullConn)
S3method(print,sparkDataConn)
S3method(quantile,ddf)
S3method(removeData,hdfsConn)
S3method(removeData,localDiskConn)
S3method(requiredObjAttrs,kvHDFS)
S3method(requiredObjAttrs,kvLocalDisk)
S3method(requiredObjAttrs,kvMemory)
S3method(requiredObjAttrs,kvSparkData)
S3method(saveAttrs,hdfsConn)
S3method(saveAttrs,localDiskConn)
S3method(saveAttrs,nullConn)
S3method(saveAttrs,sparkDataConn)
S3method(summary,ddf)
S3method(validateDivSpec,condDiv)
S3method(validateDivSpec,rrDiv)
export(addData)
export(addSplitAttrs)
export(bsv)
export(bsvInfo)
export(calculateMoments)
export(charFileHash)
export(combCollect)
export(combDdo)
export(combMean)
export(combMeanCoef)
export(combRbind)
export(combineMoments)
export(combineMultipleMoments)
export(condDiv)
export(convert)
export(counters)
export(ddf)
export(ddo)
export(dfSplit)
export(digestFileHash)
export(divide)
export(drBLB)
export(drFilter)
export(drGLM)
export(drJoin)
export(drSample)
export(drXtabs)
export(getAttribute)
export(getAttributes)
export(getBsv)
export(getBsvs)
export(getKeys)
export(getSplitVar)
export(getSplitVars)
export(hasAttributes)
export(hasExtractableKV)
export(hdfsConn)
export(kvApply)
export(kvExample)
export(localDiskConn)
export(localDiskControl)
export(makeExtractable)
export(moments2statistics)
export(mrExec)
export(readHDFStextFile)
export(readTextFileByChunk)
export(recombine)
export(removeData)
export(rhipeControl)
export(rrDiv)
export(setAttributes)
export(sparkControl)
export(sparkDataConn)
export(splitRowDistn)
export(splitSizeDistn)
export(tabulateMap)
export(tabulateReduce)
export(updateAttributes)
exportMethods(NCOL)
exportMethods(NROW)
exportMethods(lapply)
exportMethods(ncol)
exportMethods(nrow)
importFrom(stats,quantile)
