export("[.localDiv")
export("[.rhData")
export("[[.rhData")
export("$.localDiv")
export(condDiv)
export(divExample)
export(divide.data.frame)
export(divide.rhDF)
export(divide)
export(divJoin)
export(drGLM)
export(getKeys.localDiv)
export(getKeys.rhData)
export(getKeys)
export(makeKeys)
export(print.localDiv)
export(print.rhData)
export(recombine)
export(rhData)
export(rhDF)
export(rrDiv)
export(str.rhData)
export(updateAttributes)
export(wMeanCoef)
