export("[.localDiv")
export("[.rhData")
export("[[.rhData")
export("$.localDiv")
export(combCollect)
export(combDiv)
export(combMean)
export(combMeanCoef)
export(combRbind)
export(condDiv)
export(defaultControl.localDiv)
export(defaultControl.rhData)
export(defaultControl)
export(divExample.localDiv)
export(divExample.rhData)
export(divExample)
export(divExampleKey.localDiv)
export(divExampleKey.rhDiv)
export(divExampleKey)
export(divide.data.frame)
export(divide.rhDF)
export(divide)
export(divJoin)
export(drApply)
export(drBLB)
export(drGLM)
export(getKeys.localDiv)
export(getKeys.rhData)
export(getKeys)
export(makeKeys)
export(print.localDiv)
export(print.rhData)
export(recombine)
export(rhData)
export(rhDF)
export(rhipeControl)
export(rhText2DF)
export(rrDiv)
export(str.rhData)
export(updateAttributes)
